.project
.settings/**
api/.classpath
api/.settings/org.eclipse.core.resources.prefs
api/.settings/org.eclipse.jdt.core.prefs
api/.settings/org.eclipse.m2e.core.prefs
api/target/**
core/.classpath
core/.settings/org.eclipse.core.resources.prefs
core/.settings/org.eclipse.jdt.core.prefs
core/.settings/org.eclipse.m2e.core.prefs
core/target/**
ticket/.classpath
ticket/.settings/org.eclipse.core.resources.prefs
ticket/.settings/org.eclipse.jdt.core.prefs
ticket/.settings/org.eclipse.m2e.core.prefs
ticket/target/**
partner/.classpath
partner/.settings/org.eclipse.core.resources.prefs
partner/.settings/org.eclipse.jdt.core.prefs
partner/.settings/org.eclipse.m2e.core.prefs
partner/target/**
